.animation:hover {
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: 3px;
    background-color: #0280e9;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
